@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Ubuntu:wght@500;700&display=swap');

:root {
  --primary-color:#040303;
  --secondary-color: #F5F0F6;
  --accent:#F5F0F6 ;
  --nav-height:80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--accent);
  width: 100vw;
  /* padding-top: var(--nav-height); */
}

h1,
h2 {
  font-family: "ubuntu", sans-serif;
  line-height: 1.3;
  /* letter-spacing: 0.001; */
  font-weight: 700;
}

h3 {
  font-family: "Open-Sans", sans-serif;
  line-height: 1.3;
  /* letter-spacing: 0.01; */
  font-weight: 600;
}

p {
  margin-bottom: 1.25rem;
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

i {
  color: var(--primary-color);
}
/* End Base Styles */

/* Utilities Styles */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.portfolio-container {
  max-width:100%;
  margin: 0 auto;
  /* padding: 0 1.875rem; */
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding-top: 70px;
}

.secondary-grid {
  padding: 30px 30px;
}

.dark-txt {
  color:var(--primary-color);
  font-weight: 500;
}

.p-content-right p {
  margin: 25px 0;
}


.meta {
  color: var(--primary-color);
  font-weight: 300;
}

.meta-heading {
  font-weight: 600;
 
}

.p-info-sub{
 
  font-weight: 500;
}
.meta-light {
  color: var(--primary-color);
}

p.date {
  font-size: 13px;
  font-weight: 400;
}

.p-content-wrap{
  display: flex;
  flex-direction: row;
  padding:6% 0 ;
}

.p-content{
  width: 60%;
}
.p-content-right {
  padding-top: 60px;
  width: 50%;
}
.p-content-right h3 {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 1.0745rem;
 
}
.p-content p {
  width: 70%;
}
.p-content h1 {
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.p-line {
  background-color: rgb(4, 3, 3,0.1);
  width: 100%;
  height: .5px;
}

.grid-inner {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 40px;
  margin-bottom: 20px;
}


.btn {
  border: 1px solid var(--primary-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.btn:hover{
  background-color: var(--primary-color);
}

.btn:hover i {
  color: var(--accent);
}

.section-padding {
  padding: 0 1.875rem;
}


/* End Utilities Styles */

/* Navigation */
.navbar {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 10000;
 transition: all  .7s ease-in-out;
 height: var(--nav-height);
 padding-top: 20px;
  margin-bottom: -80px;
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo-text {
  z-index: 100;
}


.say-hello {
  display: none;
}

.logo-text h1 a {
  font-size: 1.7rem;
  color: var(--primary-color);
  letter-spacing: .2rem;
  font-weight: 400;
}


.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 30px;
  transition: color 0.3s ease;
}
.nav-links a:hover,
#footer ul li a:hover {
  color: var(--primary-color);
}

.nav-links a.current,
.aside-nav a.current {
  color: #040303;
}

/* Burguer Menu */
.burger {
  display: none;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.burger div {
  width: 25px;
  height: 2.6px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--primary-color);
  opacity: .8;
  transition: 0.3s ease;
}

/* Off Canvas Menu */
.nav-links {
  position: absolute;
  right: 0px;
  top: 0 !important;
  height: 100vh !important;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  transition: 0.4s ease-in;
  opacity: 0.9;
  z-index: 20;
  gap: 30px;

}

.nav-links li {
  margin-bottom: 40px;
  opacity: 0;
}

.nav-links li:last-child {
  margin: 0;
}

.nav-links a {
  margin-left: 0;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.burger {
  display: block;
  z-index: 100;
}



.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
}
.say-hello {
  display: block;
}

/* Header Toggle  */
.h-content{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;

}

/* Header Show and Hide */
   
    

/* End Header Show and Hide */
/* End Navigation */

/* Hero */

.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--accent);

  
}

/* Hero Social Icon */
.social-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--primary-color);
  width: 10%;
  align-items: flex-end;

 
}


.line-holder {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.social-wrap .hero-line {
  width: 1px;
  height: 20px;
  background-color: rgb(4, 3, 3,.3);
}

.social-wrap i {
 width: 100%;
 height: 100%;
 font-size: 1.3rem;
  opacity: .8;
  color: rgb(4, 3, 3,.6);
  transition: .4s;

  
}

.social-wrap i:hover {
  color: var(--primary-color);
}

.hero .hero-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.hero .hero-content h1 {
  font-size: 3.052rem;
  margin-top: 3rem;
  width: 90%;
}



.hero-content-wrap {
  width: 60%;
}

.btn-wrap {
  display: flex;
  align-items: center;
}

.btn-wrap h3 {
  margin-right: 1rem;
  font-size:1rem ;
  font-weight: 500;
  font-family: "ubuntu", sans-serif;
  /* text-transform: uppercase; */
 
}

.hero .btn-wrap  {
  margin-top: 1.5rem;
}

/* End Hero */

/* Homepage */
.grid-main .item {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.grid-main .item img {
  display: block;
}

.grid-main .item .active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(226, 226, 226);
  opacity: 0;
  transition: 0.6s;
}

.grid-main .item:hover .active {
  opacity: 10;

}

.grid-main .item .active h2 {
  font-size: 1.953rem;
  
  font-weight: 500;
  line-height: 1.6;
}

.grid-main .item .active p {
  font-size: 14px;
  margin: 5px 0;
  line-height: 1.3;
}

.portfolio .grid-main {
  margin-bottom: 40px;
}
/* End Homepage */

/* About */
.about {
  height:100vh;
  z-index: 0;
  padding:  0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content div h1 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.about-content h2 {
  font-weight: 600;
}

.about-content p {
  font-size: 1rem;
  max-width: 500px;
}

.about-content .hello {
  margin-bottom: 10px;
}

.about-content p.dark-txt a {
  color: var(--secondary-color);
  transition: color 0.4s;
  font-weight: 500;
}

.about-content p.dark-txt a:hover {
  color: var(--primary-color);
}
.about-wrap {
  display: flex;
  gap: 5%;
}

.img-wrap {
  width:40%;
  height: 100%;
}
.img-wrap img {
  object-fit: cover;
}
/* End About */

/* Project Page */

.showcase {
  max-width: 1920px;
  margin: 0 auto;
  height: 70vh;
  z-index: 0;
}

.show-case-content{
  background: url(../images/Projects/no-joke/image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 70vh;
    width: 100%;
}
.show-case-grab {
  background-image: url(../images/Projects/Grubbites/showcase.jpg);
}

.nc-showcase {
  background-image: url(../images/Projects/natural-clinic/showcase-2.jpg);
}

.kc-showcase {
  background-image: url(../images/Projects/kitani-chalmee/showcase.jpg);
}
.fg-showcase {
  background-image: url(../images/Projects/feel-good/showcase.jpg);
}
.pc-showcase {
  background-image: url(../images/Projects/Phoenix-cars-motors/showcase.jpg);
}
.flex div h1 {
  font-size: 1rem;
  font-weight: 600;
}

.flex div p {
  max-width: 500px;
}

.flex div h3 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  color: var(--primary-color);
}

aside {
  width: 100%;
  margin: 20px 0;
  margin-bottom: 40px;
}

aside .aside-nav ul {
  display: flex;
  flex-wrap: wrap;
}

aside .aside-nav ul li a {
  display: inline-block;
  margin: 20px 30px 0 0;
  transition: color 0.4s;
  color: rgb(4, 3, 3,.5)
}

aside .aside-nav ul li a:hover {
  color: var(--primary-color);
}

.view-web {
  font-weight: 600;
  color: var(--primary-color);
  transition: color 0.4s;
}
.view-web:hover {
  color: var(--primary-color);
}

/* Carousel */



.carousel {
position: relative;
width: 100%;
height: 95vh;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.slide{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 600ms opacity ease-in-out;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.slide[data-active]{
  opacity: 1;
}

.carousel__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(226, 226, 226,.6);
  color: var(--primary-color);
  border-radius: 50%;
  border: #f4f4f4 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateY(-50%);
  transition: all .4s;
}

.carousel__button:hover,
.carousel__button:focus {
  border-color: var(--accent);
  background-color: rgb(226, 226, 226),.9;
  color: var(--accent);
}


.carousel__button svg {
  width: 15px;
  opacity: .4;
  transition: opacity .4s;
}
.carousel__button:hover svg {
  opacity: 1;;
}

.carousel__button--left{
  left:1rem;
}
.carousel__button--right{
  right:1rem;
}

/* End Project Page */

/* Footer */

#footer {
  max-width: 1400px;
  padding: 0 1.875rem;
  background-color: var(--secondary-color);
  font-size: 14px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#footer ul h3 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#footer ul li {
  margin-bottom: 10px;
}

#footer ul li a {
  font-size: 0.8rem;
  color: var(--primary-color);
  transition: color 0.4s;
}

#footer p {
  font-size: 14px;
  color: var(--primary-color);
  margin-top: 20px;
  margin-left: 30px;
}


/* End Footer */


/* GSAP Animation */

/* Hero */

.line {
  transform: translateY(30px);
  opacity: 0;
  color: var(--primary-color);
}

.btn-wrap {
  opacity: 0;
}

.about-btn-wrap {
  opacity: 1;
}
header {
  opacity: 1;
}

.logo-text {
opacity: 0;
}

.item {
  transform: translateX(-60px);
  opacity: 0;
}

.social-wrap {
  opacity: 0;
}

.logo-light {
  opacity: 1 ;
}

.logo-text {
  transform: scale(1.05);
}

/* Overlay */

/* Portfolio Page */
.show-case-content, .show-case-grab {
  transform: scale(1.06);
  opacity: 0;
}
/* .p-content-wrap {
  opacity: 0;
  transform: translateY(30px);
} */
.p-heading {
  opacity: 0;
  transform: translateY(20px);
}

.p-info {
  opacity: 0;
  transform: translateY(20px);
}

.meta {
  opacity: 0;
  transform: translateY(20px);
}


/* About */
.hello {
  opacity: 0;
  transform: translateY(20px);
}

.hero-logo {
  opacity: 0;
  transform: translateY(20px);
  
}

.p-about{
  opacity: 0;
  transform: translateY(20px);

}

.img-wrap {
  opacity: 0;
  transform: scale(1.04);
}
/* End GSAP Animation */

/* Media Queries */

@media screen and (max-width: 1024px) {
  
html {
  overflow-x: hidden;

}
  .hero {
    min-height: 40vh;
  }
  .carousel {
   
    height: 40vh;
    }
    
   .showcase {
      height: auto;
      
    }
    .show-case-content {
      height: 40vh;
    }
    .hero-content-wrap {
      width: 85%;
    }

    .carousel__button {
     
      width: 40px;
      height: 40px;
      
    }
    .carousel__button--left{
      left:1rem;
    }
    .carousel__button--right{
      right:1rem;
    }
    .carousel__button svg {
      width: 10px;
      opacity: .4;
      transition: opacity .4s;
    }

    .p-content p {
      width: 100%;
    }

    .p-content-right {
      width: 60%;
    }

    .p-content-wrap {
      gap:60px;
    }
}
  

@media screen and (max-width: 812px) {
  
  .hero .hero-content h1 {
    font-size: 3.2rem;

    margin-top: 20%;
  }

  .hero {
    min-height: 60vh;
  }

  .grid-main {
    grid-template-columns: repeat(2, 1fr);
    
  }

  #footer {
    padding: 2% 0;
  }
  .show-case-content {
    height: 40vh;
  }
  .p-content-wrap{ 
    flex-direction: column;
  }
 
  .p-content {
    width: 100%;
  }
  .p-content-right {
    padding-top: 10px;
  }

  .p-content p {
    width: 80%;
  }

  .p-content h1 {
    font-size: 2.2rem;
  }
 
}

@media screen and (max-width: 768px) {
  /* .nav-links {
    top: 8vh;
    height: 91vh;
  } */

  .nav-links li {
    margin-bottom: 60px;
  }

  .secondary-grid {
    grid-template-columns: 1fr;
    height: auto;
  }

  .section-padding-Y {
    padding: 40px 0 0 0;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero .hero-content h1 {
    font-size: 3rem;
    width: auto;
  }

  .hero-content-wrap {
    width: 80%;
  }

  #footer {
    padding: 1% 0;
  }
  aside {
    width: 100%;
    margin: 20px 0;
    /* padding: 0 0 10% 0; */
  }
  .show-case-content {
    height: 40vh;
  }
  .about-wrap {
  flex-direction: column;
  }
  .img-wrap {
    width:70%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .about-content {
    margin-bottom: 30px;
  }
  .about {
    /* min-height: 100vh; */
  }
  #footer p {

    margin-left: 0px;
  }
  .p-content-right{
    width: 100%;
  }
  .p-content-wrap{
    gap: 0px;
  }
}

@media screen and (max-width: 500px) {
  .grid-main {
    grid-template-columns:1fr;
    padding-top: 40px;
    padding: 0 1.875rem;
    gap: 30px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
 
  .grid-inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .secondary-grid {
    padding: 0 30px;
  }
  .social-wrap {
    display: none;
  }

  main {
    padding-top: 30px;
  }

  .hero .hero-content h1 {
    font-size: 2.4rem;
  
  }
  .hero-content-wrap {
    width: 100%;
  }

  .logo-text h1 a {
    font-size: 1.4rem;
  }
  #footer {
    padding: 1% 0;
  }
  .carousel {
   
    height: 30vh;
    margin-top: -70px;
    }
    .showcase {
      margin-top: -30px;
    }
    .show-case-content {
      height: 40vh;
    }
    .carousel__button {
     
      width: 30px;
      height: 30px;
      
    }
    .carousel__button--left{
      left:-1rem;
    }
    .carousel__button--right{
      right:-1rem;
    }
    .carousel__button svg {
      width: 10px;
      opacity: .4;
      transition: opacity .4s;
    }
    .p-content h1 {
      font-size: 1.7rem;
    }
    .p-content p {
      width: 100%;
    }

    .p-content-wrap {
      padding: 15% 0;
    }

    .aside-nav {
      padding: 20px 0;
    }
    .img-wrap {
      width:100%;
      padding-top: 0px;
    }

    .about {
      height:auto;
    
    }
    .about-wrap {
    margin-top: -60px;
    }
    
}
/* End Media Queries */
